//META{"name":"JurassicDiscord","description":"A Jurassic World Fan Theme for BetterDiscord","author":"Silver0034#4220","version":"1.0.0"}*//

#app-mount {
	background-image: url(https://raw.githubusercontent.com/Silver0034/jurassicDiscord/master/assets/jurassicDiscordBackground.png);
   	background-size: cover;
}
:root {
    --accent: #0054a6;
    --shadow: rgba(0, 0, 0, 0.3);
    --shadow2: rgba(0, 0, 0, 0.5);
    --light: #2a2c30;
}
/* Scrollbar */
.scroller::-webkit-scrollbar-thumb {
    border:none !important;
    background-color: var(--accent) !important;
    box-shadow: 0 0.5em 0.1em var(--shadow);
}
.scroller::-webkit-scrollbar-track {
    background-color: var(--shadow2) !important;
}
.scroller::-webkit-scrollbar {
    width: 0.5em !important;
}
.scroller::-webkit-scrollbar-track-piece {
	border: none !important;
	background: none !important;
}
/* Server Name */
.header-1tSljs {
    background-color: var(--accent);
    box-shadow: 0.3em 0.3em 0.2em var(--shadow);
    border-radius: 0.5em;
}
/* Channels */
.contentSelectedText-3j5CXt {
    background-color: var(--accent);
    border-radius: 10.5em;
}
.contentHoveredText-2HYGIY {
    background-color: var(--shadow);
    border-radius: 10.5em;
}
/* Input Bar */
.channelTextArea-os01xC {
    border-radius: 0.3em;
    background-color: var(--light);
    box-shadow: 0.3em 0.3em 0.2em var(--shadow);
}
/* User Tag */
.container-iksrDt {
	background-color: var(--accent) !important;
    width: 100%;
    border-radius: 0.5em;
}
/* Mentions and Alerts */
.mention-RlZ5F3 {
    background-color: var(--accent);
}
.wrapper-2xO9RX {
    background-color: var(--accent);
}
.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
	background-color: var(--accent);
    color: white;
}

/* DevilsLynAvenged#6457 wrote everything below this comment, although I chnged  handful of colors. */

.channels-3g2vYe {
    background-color: rgba(0,0,0,0) !important;
}
.container-RYiLUQ {
    background-color:  transparent !important;
}
 /* fix not having a background image anymore */
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-20RVFW {
  background: rgba(0,0,0, 0.3) !important;
}
.container-2OU7Cz {
    background-color:  rgba(0,0,0,0);
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.guilds-wrapper {
    background-color: var(--shadow2) !important;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .channel-members {
    background-color: var(--shadow) !important;
}
.theme-dark .title-qAcLxz {
    background: var(--shadow2) !important;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.theme-dark .noChannel-2EQ0a9{
      background: transparent;  
}
.container-RYiLUQ, 
.channels-3g2vYe { background: transparent; }